@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ArchivoBlack';
    src: url('/ArchivoBlack.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/Inter.ttf') format('truetype');
    font-display: swap;
}

@layer base {
    body {
        font-family: 'Inter';
    }

    h1,
    h2,
    h3 {
        text-transform: uppercase;
    }
}

@layer components {
    .prose {
        font-weight: 300;
    }

    main .prose-sm h3 {
        @apply text-lg;
    }
    main .prose-sm h2,
    main .prose-base h3 {
        @apply text-xl;
    }
    main .prose-sm h1,
    main .prose-base h2,
    main .prose-lg h3 {
        @apply text-2xl;
    }
    main .prose-base h1,
    main .prose-lg h2 {
        @apply text-3xl;
    }
    main .prose-lg h1 {
        @apply text-4xl;
    }
    .contents.prose p {
        max-width: 65ch;
    }

    .prose-lg p,
    .prose-xl p {
        @apply leading-relaxed;
    }
}
